.btn {
	font-family: fenwick;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	border: 0;
	padding: 5px;
	&--grey {
		background-color: #282828;
		color: #ffffff;
		padding: 40px 50px;
		i {
			font-size: 20px;
			color: #ffd65a;
			margin-right: 10px;
		}
	}
	&--frosted {
		background-color: transparent;
		padding: 40px 30px;
		position: relative;
		i {
			font-size: 20px;
			color: #ffd65a;
			margin-left: 10px;
			line-height: 20px;
		}
		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			box-shadow: inset 0 0 2000px rgba(255, 255, 255, 1);
		}
	}
	&--yellow-border {
		background-color: transparent;
		border-width: 2.51px;
		border-color: #ffd65a;
		border-style: solid;
		color: #282828;
	}
}
