.slide {
	background-image: url("./assets/img/hero-image-1.png");
	background-repeat: no-repeat;
	background-position: bottom;
	background-size: cover;
	height: 100vh;
	display: flex;
	.hero-content {
		width: 450px;
		margin: auto 0;
		padding-top: 50px;
		h1,
		p,
		button {
			color: white;
			font-weight: 900;
		}
		h3 {
			@include text(Fenwick, $yellow, 18px, 700);
		}
		h1 {
			@include text(Poppins, white, 32px, 700);
		}
		p {
			@include text(Poppins, white, 14px, 500);
			margin: 20px 0;
		}
	}
	.container {
		max-width: unset;
		width: 1350px;
		display: flex;
		justify-content: space-between;
		.btn-group {
			align-self: flex-end;
		}
	}
}
