.info-card {
	background-color: gray;
	color: white;
	padding: 80px;
	align-self: flex-end;
	width: 600px;
	height: 380px;
	background-image: url("./assets/img/bg-vector-2.png");
	background-color: darkgrey;
	background-size: cover;
	.btn {
		color: white;
	}
	h3 {
		@include text(Fenwick, $yellow, 18px, 700);
		text-transform: uppercase;
	}
	h1 {
		@include text(Poppins, white, 27px, 500);
	}
	p {
		@include text(Poppins, white, 14px, 500);
	}
}
