#contact-us {
	height: 655px;
	background-image: url("./assets/img/contact-us-hero.png");
	background-position: center;
	background-size: cover;
	.container--sm {
		display: flex;
		justify-content: flex-end;
		.contact-us__content {
			width: 600px;
			height: 380px;
			background-image: url("./assets/img/bg-vector-2.png");
			background-color: darkgrey;
			background-size: cover;
		}
	}
}
