#services {
	background-image: url("./assets/img/bg-vector.png");
	padding: 200px 0;
	background-position: center top;
	background-size: cover;
	// background-position: right top;
	background-repeat: no-repeat;
	.container {
		max-width: 1710px;
		display: flex;
		justify-content: space-between;
	}
	.services-content {
		position: relative;
		background-color: white;
		width: 500px;
		padding: 70px 90px;
		box-shadow: 0 0 6px -3px grey;
		&:before {
			content: "";
			position: absolute;
			top: 0;
			left: -100vw;
			width: 100vw;
			height: 100%;
			background-color: white;
			box-shadow: -2px 0 6px -3px grey;
		}
		h3 {
			@include text(Fenwick, $grey, 18px, 700);
			text-transform: uppercase;
		}
		h1 {
			@include text(Poppins, $darkgrey, 27px, 500);
		}
		p {
			@include text(Poppins, $darkgrey, 14px, 600);
			margin: 20px 0;
		}
	}
	.servSlide {
		width: 300px;
		background: white;
		box-shadow: 0 0 6px -3px grey;
	}
}
