#services {
	background-image: url("./assets/img/bg-vector.png");
	padding: 200px 0;
	background-position: center top;
	background-size: cover;
	// background-position: right top;
	background-repeat: no-repeat;
	.container {
		max-width: 1710px;
		display: flex;
		justify-content: space-between;
	}
	.services-content {
		background-color: white;
		width: 500px;
		padding: 70px 90px;
	}
	.servSlide {
		width: 300px;
		background: white;
	}
}
