.container {
  max-width: 1650px;
  margin: 0 auto;
}

.container--sm {
  max-width: 1350px;
  margin: 0 auto;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 895px;
  width: 100%;
  align-content: space-between;
}

.grid__item--a {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 1;
  grid-row-end: 4;
  background-color: blue;
  max-width: 617px;
  background-image: url("./assets/img/grid1.png");
}

.grid__item--b {
  background-color: green;
  height: 414px;
  align-self: flex-start;
  background-image: url("./assets/img/grid2.png");
}

.grid__item--c {
  background-color: yellow;
  height: 414px;
  align-self: flex-end;
  background-image: url("./assets/img/grid3.png");
}

#header {
  position: absolute;
  top: 100px;
  right: 0;
  left: 0;
  z-index: 100;
}

#header .navbar {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#header .navbar .menu {
  display: flex;
  flex-direction: column;
  height: 70px;
  justify-content: space-between;
}

footer {
  background-color: lightgray;
}

#services {
  background-image: url("./assets/img/bg-vector.png");
  padding: 200px 0;
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
}

#services .container {
  max-width: 1710px;
  display: flex;
  justify-content: space-between;
}

#services .services-content {
  position: relative;
  background-color: white;
  width: 500px;
  padding: 70px 90px;
  box-shadow: 0 0 6px -3px grey;
}

#services .services-content:before {
  content: "";
  position: absolute;
  top: 0;
  left: -100vw;
  width: 100vw;
  height: 100%;
  background-color: white;
  box-shadow: -2px 0 6px -3px grey;
}

#services .services-content h3 {
  font-family: Fenwick;
  color: #4a4a4a;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

#services .services-content h1 {
  font-family: Poppins;
  color: #343434;
  font-size: 27px;
  font-weight: 500;
}

#services .services-content p {
  font-family: Poppins;
  color: #343434;
  font-size: 14px;
  font-weight: 600;
  margin: 20px 0;
}

#services .servSlide {
  width: 300px;
  background: white;
  box-shadow: 0 0 6px -3px grey;
}

#contact-us {
  height: 655px;
  background-image: url("./assets/img/contact-us-hero.png");
  background-position: center;
  background-size: cover;
}

#contact-us .container--sm {
  display: flex;
  justify-content: flex-end;
}

#contact-us .container--sm .contact-us__content {
  width: 600px;
  height: 380px;
  background-image: url("./assets/img/bg-vector-2.png");
  background-color: darkgrey;
  background-size: cover;
}

#accreditations {
  text-align: center;
}

#accreditations .container--sm {
  max-width: 1000px;
}

#case-studies {
  padding: 140px 0px;
}

#case-studies .cs-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

#case-studies .cs-content .btn--yellow-border {
  align-self: center;
}

#case-studies .cs-content h3 {
  font-family: Fenwick;
  color: #4a4a4a;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

#case-studies .cs-content h1 {
  font-family: Poppins;
  color: #343434;
  font-size: 27px;
  font-weight: 500;
}

#about-us {
  height: 840px;
  background-image: url("./assets/img/about-us-hero.png");
  background-size: cover;
}

#about-us .container--sm {
  display: flex;
  height: 100%;
  justify-content: flex-end;
}

.btn {
  font-family: fenwick;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  border: 0;
  padding: 5px;
}

.btn--grey {
  background-color: #282828;
  color: #ffffff;
  padding: 40px 50px;
}

.btn--grey i {
  font-size: 20px;
  color: #ffd65a;
  margin-right: 10px;
}

.btn--frosted {
  background-color: transparent;
  padding: 40px 30px;
  position: relative;
}

.btn--frosted i {
  font-size: 20px;
  color: #ffd65a;
  margin-left: 10px;
  line-height: 20px;
}

.btn--frosted:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  box-shadow: inset 0 0 2000px white;
}

.btn--yellow-border {
  background-color: transparent;
  border-width: 2.51px;
  border-color: #ffd65a;
  border-style: solid;
  color: #282828;
}

.slide {
  background-image: url("./assets/img/hero-image-1.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  height: 100vh;
  display: flex;
}

.slide .hero-content {
  width: 450px;
  margin: auto 0;
  padding-top: 50px;
}

.slide .hero-content h1,
.slide .hero-content p,
.slide .hero-content button {
  color: white;
  font-weight: 900;
}

.slide .hero-content h3 {
  font-family: Fenwick;
  color: #ffd65a;
  font-size: 18px;
  font-weight: 700;
}

.slide .hero-content h1 {
  font-family: Poppins;
  color: white;
  font-size: 32px;
  font-weight: 700;
}

.slide .hero-content p {
  font-family: Poppins;
  color: white;
  font-size: 14px;
  font-weight: 500;
  margin: 20px 0;
}

.slide .container {
  max-width: unset;
  width: 1350px;
  display: flex;
  justify-content: space-between;
}

.slide .container .btn-group {
  align-self: flex-end;
}

.info-card {
  background-color: gray;
  color: white;
  padding: 80px;
  align-self: flex-end;
  width: 600px;
  background-image: url("./assets/img/bg-vector-2.png");
  background-color: darkgrey;
  background-size: cover;
}

.info-card .btn {
  color: white;
}

.info-card h3 {
  font-family: Fenwick;
  color: #ffd65a;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}

.info-card h1 {
  font-family: Poppins;
  color: white;
  font-size: 27px;
  font-weight: 500;
}

.info-card p {
  font-family: Poppins;
  color: white;
  font-size: 14px;
  font-weight: 500;
  margin: 20px 0;
}
/*# sourceMappingURL=App.css.map */